// breakpoints
$breakpoint-sm: 576px;
$breakpoint-lg: 992px;
$breakpoint-xxl: 1400px;

// loader
$loader-bar-bg: darkcyan;
$loader-bar-width: 2vmin;

// font-sizes
$font-size-small: 1rem;
$font-size-normal: 1.25rem;
$font-size-large: 3rem;
