@import "src/app/styles/variables.scss";
@import "src/app/styles/animations.scss";

.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 75rem;
  margin: auto;
  overflow: hidden;

  .card_wrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;

    .card_container {
      width: 100%;
      overflow: hidden;
      text-align: center;
      display: flex;
      @include transformTransition(0.5s, ease);

      .card {
        min-width: 12rem;
        flex: 1 1 20%;
        max-width: 15rem;
        padding: 0.15rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.5rem;
      }

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: darkblue;
          @include transition(all, 0.3s, ease-in-out);
        }
      }
    }
  }

  .prev_button,
  .next_button {
    background: none;
    border: none;
    font-size: $font-size-large;
    cursor: pointer;
    color: gray;

    &:hover {
      color: darkblue;
      @include transition(all, 0.3s, ease-in-out);
    }
  }

  .prev_button {
    position: absolute;
    left: -0.5rem;
  }

  .next_button {
    position: absolute;
    right: -0.5rem;
  }
}
