.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;

  .card_wrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;

    .card_container {
      width: 100%;
      overflow: hidden;
      text-align: center;
      display: flex;
      transition: transform 0.5s ease;

      .card {
        min-width: 200px;
        flex: 1 1 20%;
        max-width: 220px;
        padding: 0.15rem 1rem;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.5rem;
      }

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: darkblue;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }

  .prev_button,
  .next_button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: gray;

    &:hover {
      color: darkblue;
      transition: ease-in-out 0.3s;
    }
  }

  .prev_button {
    position: absolute;
    left: 0;
  }

  .next_button {
    position: absolute;
    right: 0;
  }
}
